= form_for @text_post do |f|
  = f.text_field :body, placeholder: t('.content')
  = f.submit t('.submit')

= form_for @photo_post do |f|
  = f.file_field :image
  = f.submit t('.submit')

= render @posts