= div_for post, class: 'pure-g' do
  .pure-u-1-5.user-profile
    = gravatar post.user
    = link_to post.user.email, post.user, class: 'user-link'

  .pure-u-4-5.post-content
    = render post.content
    = link_to time_ago_in_words(post.created_at), post, class: 'timing-link'