!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}/
    %title Miniposts
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{ class: namespace_css }
    = render 'shared/navbar'

    - if notice
      %p.notice= notice

    - if alert
      %p.alert= alert

    .pure-g.content
      .pure-u-1-5
      .pure-u-3-5  
        .search-form
          - if current_user
            = render 'shared/search'
        = yield
      .pure-u-1-5